//
//  AppStore.xcconfig
//  Vault
//
//  Created by Miguel Solans on 30/05/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SIMPLE_SLASH=/

// App marketing version
APP_VERSION=1.0.0

// App build version
APP_BUILD=20260412.1

// App name
APP_NAME=Vault

// Base endpoint for private API
APP_BASE_API=http:${SIMPLE_SLASH}/localhost:3000
